# Obsidian workspace
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/graph.json
.obsidian/cache/
.obsidian/plugins/

# Obsidian Git conflict file
conflict-files-obsidian-git.md

# Personal private data
Personal/